<document>
  <alertTemplate>
    <title>Confirmation</title>
    <description>Are you sure?</description>
    <button data-alert-dissmiss="true">
      <text>Yes</text>
    </button>
    <button data-alert-dissmiss="true">
      <text>No</text>
    </button>
  </alertTemplate>
</document>